# 파이썬 기초와 데이터분석
## 파이썬 기초
### 1. 파이썬의 특징

### 2. 변수

몫: //  
나머지: %

In [5]:
# 할당연산
#아래의 두 식은 같다 

a = 1
a = a + 1

a = 1
a += 1

### 3. 문자형

In [11]:
#슬라이스: 범위를 지정하여 원하는 부분만을 얻기
#변수 a의 6~8번째 문자를 출력하기
a = 'Hello World'
print(a[5:8])

#변수 a의 처음에서부터 뒤에서 -5번째 문자를 출력하기
print(a[:-4])

 Wo
Hello W

In [12]:
#문자형과 숫자형 섞어보기
b = 1
print('My number is {}' .format(b))

My number is 1

In [13]:
#이름을 통한 값 넣기
print('오늘은 {month}월 {day}일 입니다. {month}월은 가정의 달입니다.'.format(month = 5, day = 10))

오늘은 5월 10일 입니다. 5월은 가정의 달입니다.

In [14]:
#'.'를 기준으로 분리하기
a = "I.am.a.boy"
a.split('.')

['I', 'am', 'a', 'boy']