# 파이썬 기초와 데이터분석
## 파이썬 기초
### 1. 파이썬의 특징

### 2. 변수

몫: //  
나머지: %

In [ ]:
# 할당연산
#아래의 두 식은 같다 

a = 1
a = a + 1

a = 1
a += 1

### 3. 문자형

In [ ]:
#슬라이스: 범위를 지정하여 원하는 부분만을 얻기
#변수 a의 6~8번째 문자를 출력하기
a = 'Hello World'
print(a[5:8])

#변수 a의 처음에서부터 뒤에서 -5번째 문자를 출력하기
print(a[:-4])

 Wo
Hello W

In [ ]:
#문자형과 숫자형 섞어보기
b = 1
print('My number is {}' .format(b))

My number is 1

In [ ]:
#이름을 통한 값 넣기
print('오늘은 {month}월 {day}일 입니다. {month}월은 가정의 달입니다.'.format(month = 5, day = 10))

오늘은 5월 10일 입니다. 5월은 가정의 달입니다.

In [ ]:
#'.'를 기준으로 분리하기
a = "I.am.a.boy"
a.split('.')

['I', 'am', 'a', 'boy']

### 4. 리스트

In [1]:
a = [1,[2,3],[4,[5,6,7]]]

In [2]:
a[0] = 10
print(a)

[10, [2, 3], [4, [5, 6, 7]]]

In [3]:
a[2][1][1:] = [60, 70]

In [4]:
print(a)

[10, [2, 3], [4, [5, 60, 70]]]

In [5]:
a[2][1][1:] = 50
print(a)

TypeError: ignored

In [6]:
a[2][1][1:] = [50]
print(a)

[10, [2, 3], [4, [5, 50]]]

In [7]:
#리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [8]:
#append
a = [1, 2, 3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [10]:
#pop
a = [1, 2, 3]
a.pop(0)#해당인덱스 삭제
print(a)

[2, 3]

In [11]:
a = [1, 2, 3]
a.pop()#맨 뒤꺼 없앰
print(a)

[1, 2]

In [12]:
print(a.index(1)) #1의 위치값을 반환

0

### 5. 튜플